@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      -webkit-tap-highlight-color: transparent;
    }
}

* {
    transition: all 0.25s ease;
}

html {
    font-family: 'Sora', sans-serif;
}

html, body, #root {
    @apply h-full;
}

body {
    min-height: calc(100% + env(safe-area-inset-top));
    // padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    // padding: 
    //     calc(env(safe-area-inset-top, 20px) * -1)
    //     calc(env(safe-area-inset-right, 20px) * -1)
    //     calc(env(safe-area-inset-bottom, 20px) * -1)
    //     calc(env(safe-area-inset-left, 20px) * -1);
}

.pre-heading {
    @apply text-stone-500 dark:text-stone-400 uppercase tracking-widest font-medium text-lg;
}

.heading {
    font-size: 7vw; //@todo clamp / min-max font-size
    @apply text-black dark:text-stone-200
}

.popover__title {
    @apply text-2xl font-semibold text-black dark:text-stone-200;
}

.popover__subtitle {
    @apply text-stone-400 font-medium text-lg;
}

.label {
    @apply uppercase tracking-widest font-medium text-xs;
}

.slide-routes {
    &, .item {
        @apply h-full max-h-screen overflow-scroll;
    }
}

.text--main {
    @apply text-black dark:text-stone-200
};

.text--secondary {
    @apply text-stone-500;
}

hr {
   @apply dark:border-stone-500 
}

.border--themed {
    @apply border-stone-300 dark:border-stone-700;
}