@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      -webkit-tap-highlight-color: transparent;
    }
}

* {
    transition: all 0.25s ease;
}

html {
    font-family: 'Sora', sans-serif;
}

html, body, #root {
    @apply h-full;
}

body {
    padding: 
        env(safe-area-inset-top, 20px)
        env(safe-area-inset-right, 20px)
        env(safe-area-inset-bottom, 20px)
        env(safe-area-inset-left, 20px);
}

.pre-heading {
    @apply text-stone-500 uppercase tracking-widest font-medium text-lg;
}

.heading {
    font-size: 7vw; //@todo clamp / min-max font-size
}

.label {
    @apply uppercase tracking-widest font-medium text-xs;
}

.slide-routes {
    &, .item {
        @apply h-full max-h-screen overflow-scroll;
    }
}